<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field appearance="fill">
    <mat-label>Número de Carta</mat-label>
    <input matInput [value]="generatedNumber" readonly>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <mat-select formControlName="user_ci">
      <mat-option *ngFor="let user of users" [value]="user.ci">
        {{ user.nombre }} ({{ user.ci }})
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Observación</mat-label>
    <textarea matInput formControlName="observacion" rows="3"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Guardar
  </button>
  <button mat-button type="button" (click)="close()">Cancelar</button>
</form>