<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Número de Sello</mat-label>
      <input matInput formControlName="numeroSello" />
      <mat-error *ngIf="form.get('numeroSello')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario (CI)</mat-label>
      <input matInput formControlName="userCi" />
      <mat-error *ngIf="form.get('userCi')?.hasError('required')">
        Este campo es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Observación</mat-label>
      <textarea matInput formControlName="observacion"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">
    {{ data.action === 'create' ? 'Guardar' : 'Actualizar' }}
  </button>
</mat-dialog-actions>