<mat-card>
  <mat-card-header>
    <mat-card-title>Gestión de Usuarios del Sistema</mat-card-title>
    <mat-card-subtitle>Administración de cuentas de acceso.</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div class="header-actions">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Buscar Usuario</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="CI o Nombre" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="addUser()">
        <mat-icon>person_add</mat-icon> Nuevo Usuario
      </button>
    </div>

    <div class="table-container" [class.loading-overlay]="loading">
      
      <div *ngIf="loading" class="spinner-center">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="full-width-table">
        
        <ng-container matColumnDef="ci">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> C.I. </th>
          <td mat-cell *matCellDef="let element"> {{element.ci}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-chip-listbox>
              <mat-chip color="accent" selected matTooltip="Rol de Acceso">
                {{ element.role?.name || 'N/A' }}
              </mat-chip>
            </mat-chip-listbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" matTooltip="Editar Usuario" (click)="editUser(element.ci)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar Usuario" (click)="deleteUser(element.ci)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron usuarios que coincidan con "{{input.value}}"</td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>